backend/server/logs
frontend/server/logs
debug.log
backend/apps/*/logs/remotelog.ndjson
backend/apps/*/db/*.db*
backend/**/conf/hostname.json
backend/apps/neuranet/tests/vector_db/**/*
backend/apps/neuranet/db/vectordb/**/*