<style>
div#body {
    padding: 0em 3em 3em 3em;
    height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

input {
    border: 1px solid #37acee;
    border-radius: 0.5em;
    padding: 0.5em;
    outline: none;
    margin-bottom: 0.5em;
}

span#header {
    margin-bottom: 1em;
    font-size: 0.9em;
    color: #0086d1;
}

div#results {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
div#result {margin: 1em 0.2em;}
div#resultheader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
img#resulticon {width: 2em; height: 2em;}
span#resultlink {margin-left: 0.5em; font-size: smaller;}
div#resulttitle {
    font-family: arial;
    font-weight: 400;
    color: #1a0dab;
    margin-top: 0.3em;
    font-size: 1.2em;
}
div#resultsnippet {
    font-size: smaller;
    max-width: 100%;
    width: 100%;
    margin-top: 0.5em;
}
</style>
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_START}}}
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_END}}}

<div id="body">

<input placeholder="Search" onkeypress="if(event.key === 'Enter') monkshu_env.apps[APP_CONSTANTS.APP_NAME].search_main.search(this.value)">

<div id="results"></div>

<template id="resultstemplate">
&#123;&#123;#.&#125;&#125;
<div id="result">
<div id="resultheader"><img id="resulticon" src="&#123;&#123;&#123;resulticon&#125;&#125;&#125;"><span id="resultlink">&#123;&#123;referencelink&#125;&#125;</span></div>
<div id="resulttitle">&#123;&#123;title&#125;&#125;</div>
<div id="resultsnippet">&#123;&#123;textsnippet&#125;&#125;</div>
</div>
&#123;&#123;/.&#125;&#125;
</template>

</div>  <!-- body -->