<style>
::-webkit-scrollbar {
    width: 0.5em !important;
    height: 0.5em !important;
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    margin: 2em;
    border-radius: 1em !important;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    border-radius: 1em !important;
    background-clip: padding-box;
}

div#maincontainer {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
}

chat-box#enterpriseassistant {width: 60%}

span#filecontainerheader { 
    height: 2em;
    background-color: #03B3FF;
    display: flex;
    align-items: center;
    padding: 0em 1em;
    color: #ffffff;
    margin-bottom: 1em;
}

div#filecontainer {
    border: 1px solid #03B3FF;
    flex-grow: 1;
    margin: 0em 3em 3em 0em;
    border-radius: 0.5em;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

span#filecontainerheader{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0.5em 1em;
    user-select: none;
}
span#collapser {display: inline-flex;}
span#expander {
    display: none;
    width: 100%;
    text-align: center;
}
div#verticalheader {
    color: #03B3FF;
    letter-spacing: 0.2em;
    font-size: larger;
    writing-mode: vertical-lr;
    display: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

file-manager#fm {
    padding: 0em 1em;
    display: block;
    height: calc(100% - 3em);
}
</style>
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_START}}}
div#maincontent {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
div#maincontainer {
    flex-direction: column;
    height: calc(200% + 3.2em);
    overflow-y: auto;
    overflow-x: hidden;
}
chat-box#enterpriseassistant {
    width: 100%; 
    height: 100%;
}
div#filecontainer {
    width: calc(100% - 1em);
    height: calc(100% - 6em);
    margin: 4em 0.5em 2em 0.5em;
    flex-grow: 0;
}
span#collapser {display: none; ismobile: true}
{{{APP_CONSTANTS.MOBILE_MEDIA_QUERY_END}}}

<div id="maincontainer">

<chat-box id="enterpriseassistant" chatapi="{{APP_CONSTANTS.BACKEND}}/apps/{{APP_CONSTANTS.APP_NAME}}/{{aiendpoint}}"
    onresult="window.monkshu_env.apps.neuranetapp.enterprise_assist_main.processAssistantResponse(result, 'enterpriseassistant', '{{{activeaiapp.id}}}')"
    onrequest="window.monkshu_env.apps.neuranetapp.enterprise_assist_main.getAssistantRequest(prompt, 'enterpriseassistant', '{{{activeaiapp.id}}}')"></chat-box>

<div id="filecontainer">
    <span id="filecontainerheader">
        <span id="filecontainerheaderlabel">{{i18n.EnterpriseAssist_KnowledgeBase}}</span>
        <span id="collapser" onclick="this.parentNode.parentNode.style.width='4em';
            this.parentNode.parentNode.querySelector('#fm').style.display='none';
            this.parentNode.parentNode.style.flexGrow=0; 
            this.parentNode.parentNode.parentNode.querySelector('#enterpriseassistant').style.flexGrow=1;
            this.parentNode.parentNode.querySelector('#filecontainerheaderlabel').style.display='none';
            this.style.display='none';
            this.parentNode.querySelector('#expander').style.display='inline';
            this.parentNode.parentNode.querySelector('#verticalheader').style.display='flex'">&gt;&gt;&gt;</span>
        
        <span id="expander" onclick="this.parentNode.parentNode.style.width='auto';
            this.parentNode.parentNode.querySelector('#fm').style.display='block';
            this.parentNode.parentNode.style.flexGrow=1; 
            this.parentNode.parentNode.parentNode.querySelector('#enterpriseassistant').style.flexGrow=0;
            this.parentNode.parentNode.querySelector('#filecontainerheaderlabel').style.display='inline';
            this.style.display='none';
            this.parentNode.querySelector('#collapser').style.display='inline';
            this.parentNode.parentNode.querySelector('#verticalheader').style.display='none'">&lt;&lt;&lt;</span>
    </span>
    <file-manager id="fm" disable="sharefile,copy,cut,paste,hr2" iconsize="3em" fontsize="smaller" padding="0em 0.5em 0.25em 0.5em"></file-manager>
    <div id="verticalheader"><span>{{i18n.EnterpriseAssist_KnowledgeBase}}</span></span>
</div>

</div>

<script defer>
    window.onload=_=>{ 
        if ("{{{show_ai_training}}}".toLowerCase() == "false") {
            LOG.info("Told to not show AI training"); 
            document.querySelector("div#filecontainer").style.display = "none";  
            document.querySelector("chat-box#enterpriseassistant").style.width = "100%";
            return;
        }
        if ("{{{collapse_ai_training}}}".toLowerCase() == "true" && (document.querySelector("span#collapser").offsetWidth != 0)) 
            document.querySelector("span#collapser").click();  
    }
</script>

<template id="notificationstemplate">
<!-- {{=<% %>=}} 
<style>
    div#notificationsmain {padding: 1em; box-sizing: border-box; font-size: small; cursor: default;}
    div#singlenotification {display: flex; flex-flow: row; align-items: center; gap: 0.5em;}
    span#path {width: 8em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-right: 1em;}
    span#donenotifier {width: 5em;}
    span#progressimage {width: 1.2em; height: 1.2em;}
    span#progressimage > img {width: 100%; height: 100%;}
</style>
<div id="notificationsmain">
{{#events}}
<div id="singlenotification">
    <span id="path" title="{{path}}">{{path}}</span>
    <span id="donenotifier">{{#done}}{{i18n.EnterpriseAssist_Done}}{{/done}}{{^done}}{{i18n.EnterpriseAssist_Processing}}{{/done}}</span>
    <span id="progressimage"><img src="{{{VIEW_PATH}}}/img/spinner{{#success}}{{#done}}done{{/done}}{{/success}}{{#error}}error{{/error}}{{^done}}progress{{/done}}.svg"></span>
</div>
{{/events}}
{{^events}}{{i18n.EnterpriseAssist_NoEvents}}{{/events}}
</div>
<%={{ }}=%> -->
</template>

<template id="airesponsetemplate">
    <span id="airesponsetext">{{{airesponse}}}</span>
    <span id="aireferences">{{i18n.References}}</span>
    {{#references}}<span id="aireferencestext">{{.}}</span>{{/references}}
</template>
